@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.App-header {
  /* width: -moz-fit-content; */
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.skillcard {
  box-sizing: border-box;
  height: auto;
  width: 95% !important;
  /* width: calc(100% / 3); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 20px;
  border-radius: 10px;
}

.skillcard .header {
  height: auto;
  text-align: center !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: coral;
  color: white;
  font-size: 25px;
  clip-path: circle(60% at 0% 0%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hireButton {
  font-size: x-large;
  text-align: center !important;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.skillcard:hover .header {
  clip-path: circle(100% at 50% 50%);
  text-align: center !important;
  background: salmon;
}

.skillcard .description {
  padding: 20px;
}

.lorem {
  text-align: center;
  font-size: large;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
